:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color {
  width: 3rem;
  height: 3rem;
  /* border: 2px solid red; */
  background-color: red;
}

section {
  display: flex;
}

fieldset {
  border: none;
  margin: 0 0 0 1rem;
  padding: 0;
  display: flex;
}

fieldset input {
  width: 30rem;
}

code {
  margin-top: 1rem;
}
