main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  height: 644px;
  width: 466px;
  background-color: #393b2f;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
  display: flex;
  flex-direction: column;
}
.display {
  margin-top: 44px;
  padding: 24px;
  font-size: 72px;
  text-align: right;
  color: white;
}
.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}
.button {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #696b62;
  color: white;
  font-size: 34px;
}
.button:active {
  opacity: 60%;
}
.button.x2 {
  grid-column: span 2;
}
.button.fn {
  background-color: #4c4d42;
}
.button.op {
  background-color: #f3a23b;
}
.button:nth-last-child(3) {
  border-bottom-left-radius: 8px;
}
.button:last-child {
  border-bottom-right-radius: 8px;
}
